In [1]:
import pandas as pd

In [14]:
df=pd.DataFrame([[1,2],[5,4],[8,5]],
          index=['cobra','viper','sidewinder'],
           columns=['max_speed','shield'])
df

            max_speed  shield
cobra               1       2
viper               5       4
sidewinder          8       5

In [15]:
df.loc['viper']
#It returns the all the values which are at viper index
#if we are using the single label the output wil be as series

max_speed    5
shield       4
Name: viper, dtype: int64

In [19]:
df

            max_speed  shield
cobra               1       2
viper               5       4
sidewinder          8       5

In [16]:
#If we are using list of labels will return the dataframe
#Example
df.loc[['viper','sidewinder']]

            max_speed  shield
viper               5       4
sidewinder          8       5

In [18]:
df

            max_speed  shield
cobra               1       2
viper               5       4
sidewinder          8       5

In [17]:
#in this we can return the value for particular row
#In this we will use single row and column will result single value
df.loc['cobra','shield']

2

In [20]:
df.loc['cobra':'viper','max_speed']

cobra    1
viper    5
Name: max_speed, dtype: int64

In [23]:
df.loc[[True,True,True]]


#This is little bit intresting we can try with mutliple things to get various result in coming cells

            max_speed  shield
cobra               1       2
viper               5       4
sidewinder          8       5

In [26]:
df.loc[[False,True,False]]

       max_speed  shield
viper          5       4

In [28]:
df.loc[[False,False,True]]

#weherever we give "True "that specific row will be returned.

#"False" row or indext will not return anything

            max_speed  shield
sidewinder          8       5

In [32]:
df.loc[pd.Series([False,True,False],
                index=['viper','cobra','sidewinder']
                )]


#we can notice the the TRUE and COBRA values from above code which we can say that TRUE indext will retrun in output

       max_speed  shield
cobra          1       2

In [35]:
df

            max_speed  shield
cobra               1       2
viper               5       4
sidewinder          8       5

In [36]:
df.loc[pd.Index(["cobra","viper"],
               name="animal")]

#It will create specific row with named as "animal"

        max_speed  shield
animal
cobra           1       2
viper           5       4

In [38]:
#another example for aboe condition

df.loc[pd.Index(["cobra","viper","sidewinder"],
               name="hello")]

            max_speed  shield
hello
cobra               1       2
viper               5       4
sidewinder          8       5

# Conditions

In [39]:
df

            max_speed  shield
cobra               1       2
viper               5       4
sidewinder          8       5

In [41]:
df.loc[df["shield"]>2]

            max_speed  shield
viper               5       4
sidewinder          8       5